phone-number {
  white-space: pre;
}

.dashboard-wrapper {
  margin-left: 0px;
}

label {
  font-family: "Helvetica";
}

.panel-heading.list-group-item {
  border-bottom: none;
}

.panel-heading.list-group-item > .panel-title > a > div {
  font-size: 22px;
  font-weight: 400;
  color: #555;
}

.rc-callout {
  display: grid;
  grid-template-areas: "icon message close";
  grid-template-columns: 40px 1fr 40px;
  align-items: center;
}

.rc-callout > span {
  grid-area: icon;
}

.rc-callout > p {
  grid-area: message;
}

.rc-callout > button {
  grid-area: close;
}

.panel-body {
  font-size: 22px;
  line-height: 18pt;
}

.btn-toolbar.three {
  display: grid;
  grid-template-areas: "cancel new save";
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}
.btn-toolbar.three > .btn {
  width: 100%;
  display: grid;
  grid-template-columns: 40px 1fr;
}
.btn-toolbar.three > .btn > span:first-child {
  justify-content: center;
  line-height: 24px;
}
.btn-toolbar.three > .btn-danger {
  grid-area: cancel;
}
.btn-toolbar.three > .btn-info {
  grid-area: new;
}
.btn-toolbar.three > .btn-success {
  grid-area: save;
}
@media (max-width: 1000px) {
  .btn-toolbar.three {
    grid-template-areas: "new" "save" "cancel";
    grid-template-columns: 1fr;
  }
  .main-container {
    padding: 20px 0px;
  }
}
